[Paths]
# The paths are relative to the location of the dodo.py file.

# Only used as a shared constant in this config file
base_dir = .

# Where the exported files are stored
region = %(base_dir)s/export

# The name of the region. Exported files start with this name.
region_name = region1

# Where to place build files You don't really need to change this.
build = %(base_dir)s/build

# Where the created map will be placed. This folder will then
# contain an index.html
output = %(base_dir)s/output

# Location of the single tile images that will be merged into tile sheets
tiles = tiles

# Location of the tilesheet images that are created from the single tiles
tilesets = tilesets

[App]
# How many processes to use when rendering a map layer. I recommend you
# set this to the amount of cores your cpu can use.
processes = 8

# Set to true to show debug messages.
debug = False

# Blacklist categories from debug output (separate with ",")
log_blacklist = kryo, tileset

[Map]
# The number of the highest zoom level to render. The higher it gets, the closer you can zoom in.
max_zoom = 7

# The minimum zoom level. If you want to zoom even further out, lower this number. Keep it above 0.
min_zoom = 3

# The minimum distance 2 sites have to be apart from each other to not
# be clustered together (in px)
max_cluster_radius = 30

# Hide spoilery content
show_spoilers = no

# The font used to render the region names
map_font = fonts/KaushanScript-Regular.otf

[Output]
# Use this to inject html into the resulting index.html. For example for
# user tracking.
footer = ""

[Web]
# Port for the integrated webserver
port = 8000