<h2 class="text-center">$worldInfo.getWorldName()</h2>
<h2 class="text-center">$worldInfo.getNameEnglish()</h2>
<h4 class="text-center">On the $worldInfo.getDaySuffixed() of $worldInfo.getMonthName() in $worldInfo.getYear()</h4>
